<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nuomi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15EAEBC61C1D02A5004D08B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15EAEBDF1C1D02A6004D08B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15EAEBEA1C1D02A6004D08B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
